<div class="container text-center border-dark">
  <img class="mt-3 pt-5 mb-4" src="https://pub-static.haozhaopian.net/assets/projects/pages/59bdc650-2f71-11e9-b265-2d98604f9a05_d0369e53-b558-4f13-9ff1-24987a3ac3e9_thumb.jpg">
  <h2 CLASS="font-weight-bolder text-success">Thank you for Shopping With us</h2>
  <h3 CLASS="font-weight-bolder text-success">WE HOPE YOU SHOP WITH US AGAIN</h3>
  <button class="btn btn-success mt-3" routerLink="/orderhistory">Order History</button>
</div>


<hr class="mt-3 w-75">
<div class="size text-center text-muted"><i class="material-icons size">© copyright</i><span>&nbsp;2019, www.Looks Garments.com, All rights reserved.</span></div>
<br>
