<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">

  <a class="navbar-brand text-warning" href="#" style="font-family: 'Candara'">LOOKS GARMENTS <sub><sub><i>its all about looks..</i></sub></sub></a>


  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Account</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
        Offers
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Electronics</a>
        <a class="dropdown-item" href="#">Fashion</a>
        <a class="dropdown-item" href="#">Grocery</a>

        <a class="dropdown-item" href="#">Sports</a>
        <a class="dropdown-item" href="#">Accessories</a>
      </div>
    </li></ul>
<!--  <ul class="navbar-nav mr-auto ml-auto">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link text-white" href="#"><img class="rounded-circle" src="./assets/3.png" style="width:50px; height: 50px;"></a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <form class="form-inline " action="/action_page.php">-->
<!--          <input class="form-control mr-sm-2 " type="text" placeholder="Search">-->
<!--          <button class="btn btn-warning "><i class="fas fa-search"></i></button>-->
<!--        </form>-->
<!--    </li>-->
<!--  </ul>-->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Try <img width="20" src="http://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/plus_b13a8b.png"></a> </li>
    <li class="nav-item">
      <a class="nav-link text-white" *ngIf="!appservice.checkLogin()" routerLink="/signup"><i class="fa fa-user"></i>SignUp</a>  </li>
    <li class="nav-item dropdown yup">
      <a *ngIf="appservice.checkLogin()" class="nav-link text-white yup1" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-user"></i>My Profile</a>
      <div class="dropdown-content">
        <a class="dropdown-item" routerLink="/myprofile" >Profile</a>
        <a class="dropdown-item" routerLink="/orderhistory">Order History </a>
      </div>
    </li>
    <li class="nav-item" (click)="logout()">
      <a *ngIf="appservice.checkLogin()" class="nav-link text-white" ><i class="fa fa-logout" ></i>Logout</a>  </li>
    <li class="nav-item">
      <a *ngIf="appservice.checkLogin()" class="nav-link text-white" href="#" routerLink="/cart"><i class="fab fa-opencart"></i>Cart</a>
    </li>


  </ul>
</nav>
