<div class="wolf justify-content-center mt-5">
  <div class="wap wally rounded-circle" >
    <a routerLink="/homepage"><img class="rounded-circle" src="./assets/3.png" alt="logo"  style="width:200px; height: 200px "></a>
  </div>
</div>
<div class="container wally  mt-5" style="width: 50%; background-color:steelblue;"><hr>
  <div class="mr-5 text-warning" ><b style="font-size:30px"><i>Login Here</i></b></div>
  <div class="container justify-content-center text-danger mx-auto" *ngIf="invalid"><span>Enter Valid Login Credentials!</span></div>
  <form><hr>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="username">
    </div><hr>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="password">
    </div><hr>
    <div>
      <button type="submit" class="btn btn-warning" (click)="checklogin()">Login</button>
    </div>

    <span class="mx-auto">
      <span class="text-warning mn"><b>Not a Customer?</b></span>&nbsp;&nbsp;
      <a class="text-warning" href=""routerLink="/signup">SignUp Here</a></span>
  </form>
</div>


<hr class="mt-3 w-75">
<div class="size text-center text-muted"><i class="material-icons size">© copyright</i><span>&nbsp;2019, www.Looks Garments.com, All rights reserved.</span></div>
<br><br>
